BETTER_AUTH_URL="http://localhost:3000"
SOCKET_SERVER_PORT="3100"
NEXT_PUBLIC_SOCKET_URL="http://localhost:3100"
DATABASE_URL="postgresql://postgres:Mvfmvf36!!!@localhost:5432/scribeai"

# Better Auth
BETTER_AUTH_SECRET="a792bfbc4362567c273cd0254f06126a9d1582976385edcf133169b6539d4abd"
BETTER_AUTH_URL="http://localhost:3000"

# Google Gemini API
GOOGLE_GENERATIVE_AI_API_KEY="AIzaSyBGtjN_fz4DliRV-awSXG9OgtZmUFHjo7U"

# Node Environment
NODE_ENV="development"

